name: CI
on:
  workflow_dispatch:
    inputs:
      debug_ssh:
        description: "Enable SSH debug with tmate, see https://github.com/marketplace/actions/debugging-with-tmate"
        required: false
        type: boolean
        default: false
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 1" # Each Monday

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.19"
      - name: Debug with tmate SSH if enabled
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_ssh }}
        uses: mxschmitt/action-tmate@v3
      - run: go test -race -p=8 -parallel=8 -tags=example -coverpkg ./... -coverprofile=coverage.out ./...
      - uses: codecov/codecov-action@v3

  compatibility:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.8"
          - "1.9"
          - "1.10"
          - "1.11"
          - "1.12"
          - "1.13"
          - "1.14"
          - "1.15"
          - "1.16"
          - "1.17"
          - "1.18"
          - "1.19"
    steps:
      - uses: actions/checkout@v3
        with:
          path: go/src/github.com/maratori/pt
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - run: go test -race -p=8 -parallel=8 -tags=example ./...
        working-directory: ${{ github.workspace }}/go/src/github.com/maratori/pt
        env:
          GOPATH: ${{ github.workspace }}/go

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.19"
      - uses: golangci/golangci-lint-action@v3
        with:
          version: "v1.49.0"

  check-tidy:
    name: go mod tidy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.19"
      - name: Check that go.mod and go.sum are tidy
        run: |
          cp go.mod go.check.mod
          cp go.sum go.check.sum
          go mod tidy -modfile=go.check.mod
          diff -u go.mod go.check.mod
          diff -u go.sum go.check.sum
          rm go.check.mod go.check.sum
